/* formateo */

  *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }

  body{
    background-color: #043263;
    margin: 10px;
  }

/* proyectos */

  #proyectos{
    width: 100%;
    height: auto;
    display: flex;
    flex-wrap: wrap;
  }

/* footer */

  #container--footer{
    width: 98%;
    height: 70px;
    text-align: center;
    color: #fff;
  }

  #container--footer .container_redes-footer a{
    text-decoration: none;
  }

  #container--footer .container_redes-footer i{
    color: #fff;
    font-size: 25px;
    margin: 5px;
  }
